<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      [value]="user.username"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [value]="user.email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="text"
      class="form-control"
      id="password"
      [value]="user.password"
    />
  </div>
</form>
