<div class="user-item">
  <div class="row">
    <div class="col-md-8">
      <h6>Username</h6>
      username123
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger btn-center" (click)="onDeleteUser()">
        Delete
      </button>
    </div>
  </div>
  <div *ngIf="showModal">
    <app-modal title="Confirm action" buttonMessage="Delete">
      <div>
        Are you sure you want to delete this account?
        <button class="btn btn-danger" style="margin-left: .5rem;">
          Delete
        </button>
      </div>
    </app-modal>
  </div>
</div>
