.user-item {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-width: 1;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px grey;
}

.btn-center {
  margin-top: 0.5rem;
}
