<div class="profile">
  <div class="row">
    <div class="col-md-6">
      <div class="profile__item">
        <h5>Username</h5>
        <p>{{ loggedUser.username }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile__item">
        <h5>Email</h5>
        <p>{{ loggedUser.email }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="profile__item">
        <h5>Password</h5>
        <p>*************</p>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="btn btn-primary" (click)="onUpdateProfile()">
      Update profile
    </button>
  </div>
  <div *ngIf="showModal">
    <app-modal title="Update profile">
      <app-profile-edit></app-profile-edit
    ></app-modal>
  </div>
</div>
