<div class="register">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <div class="actions">
      <button type="submit" class="btn btn-success">Sign up</button>
      <hr />
      <p>
        Already have an account?<br />
        <a routerLink="/login">Login here!</a>
      </p>
    </div>
  </form>
</div>
